@import url('https://fonts.googleapis.com/css?family=Paytone+One');

body{
  font-family: 'Paytone One', sans-serif;
}

.container{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.logo{
  margin: 0 auto;
  width: 200px;
  display: block;
  margin-bottom: 20px;
  margin-top: 15px;
}

.sub-title{
  margin: 0 auto;
  width: 300px;
  margin-bottom: 20px;
  text-align: center;
}

#map{
  width: 560px;
  height: 560px;
  border: 6px solid #000;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.cell{
  float: left;
  width: 80px;
  box-sizing: border-box;
  height: 80px;
}

.cell.horiz{
  border-bottom: 6px solid #000;
}

.cell.vert{
  border-right: 6px solid #000;
}

.bullet{
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: black;
}

.score{
  font-size:35px;
  display: inline-block;
}

.scoreBoard{
  margin: 0 auto;
  border: 2px solid #000;
  display: flex;
  justify-content: space-around;
  width: 400px;
  border-radius: 20px;
  margin-top: 20px;
  font-size:30px;
  line-height: 47px;
}
.red{
  color: red
}

.blue{
  color: blue;
}

.dot{
  background-color: blue;
  height: 2px;
  width: 2px;
  position: absolute;
}

.controls{
  float: left;
  margin-right: -200px;
  margin-left: -100px;
  margin-top: 20px;
  margin-bottom: -50px
}
@media screen and (max-width: 950px) {
  .controls{
    display: none;
  }
}
.description{
  margin: 50px 20%;
}
h2{
  text-align: center;
}

h3{
  text-align: center;
}

p{
  font-family: arial;
}
