.tank{
  position: absolute;
  width: 35px;
  height: 35px;
  transform: rotate(90deg);
}


.tank::after{
  content: ' ';
  width: 39px;
  height: 39px;
  margin-left: -2px;
  margin-top: -2px;
  display: block;
  background-size: 39px 39px;
  background-position: center;
}
.tank.red:after{
  background-image: url(../img/redtank2.png)
}
.tank.blue:after{
  background-image: url(../img/bluetank2.png)
}
