.tank{
  position: absolute;
  width: 90px;
  height: 90px;
  background-size: 90px 90px;
  transform: rotate(90deg);
}

.tank.red{
  background-image: url(../img/redtank2.png)
}
.tank.blue{
  background-image: url(../img/bluetank2.png)
}
